#login {
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
	height:100%;
	background-size: 100%;
	background: #862ae3;
	/*background-image: url("image/giphy.gif");*/
	background-size: 100%;
	font-family:TH Sarabun New;
}

#main {
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
	height:100%;
	background-size: 100%;
	background: #862ae3;
	font-family:TH Sarabun New;
}

p {
	font-family:TH Sarabun New;
	font-size: 28px;
	color:#5f18a7;
}

h5 {
	font-family:TH Sarabun New;
	font-size: 16px;
	color:#ffffff;
}

h1 {
	font-family:TH Sarabun New;
	font-size: 55px;
	color:#ffffff;
}

#textbox {
	background:#F8F8F8;
	color:#999999;
	border:1px solid #DCDCDC;
	border-radius:2px ;
	font-size:20px ;
	height: 30px ;
	line-height:30px ;
	width: 251px ;
	padding: 10px ;
	box-shadow: 0px 0px 0px #DCDCDC; 
	-webkit-box-shadow: 0px 0px 0px #DCDCDC; 
	-moz-box-shadow: 0px 0px 0px #DCDCDC; 
}

#bt {
	display:inline-block;
	background:#dbd9dd;
	color:#5f18a7;
	border:1px solid #862ae3;
	border-radius:8px ;
	font-size:16px ;
	width: 100px ;
	padding: 8px 8px 8px 8px ;
	cursor:pointer;
}

#bt:hover {
	background:#862ae3;
	color: #ffffff;
}

#bt2 {
	display:inline-block;
	background:#dbd9dd;
	color:#5f18a7;
	border:1px solid #862ae3;
	border-radius:8px ;
	font-size:16px ;
	width: 140px ;
	padding: 8px 8px 8px 8px ;
	cursor:pointer;
}

#bt2:hover {
	background:#862ae3;
	color: #ffffff;
}

#bt3 {
	display:inline-block;
	background:#862ae3;
	color: #ffffff;
	border:1px solid #862ae3;
	border-radius:8px ;
	font-size:16px ;
	width: 140px ;
	padding: 8px 8px 8px 8px ;
	cursor:pointer;
}

#bt3:hover {
	background:#dbd9dd;
	color:#5f18a7;
}

#menus {
	width:48%;
	height:100%;
	background:#ffffff;
	border-radius:10px ;
	float:left;
	margin: 5px;
}

#menus:hover {
	background:#cdcdcd;
	color: #ffffff;
	border:0px solid #ffffff;
}

#inMenu {
	font-family:TH Sarabun New;
	font-size: 32px;
	color:#5f18a7;
}

#search {
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
	height:1200px;
	background-size: 100%;
	background: #862ae3;
	font-family:TH Sarabun New;
}

#barcode {
	background-repeat: no-repeat;
	padding:0px;
	margin:0px;
	height:900px;
	background-size: 100%;
	background: #862ae3;
	font-family:TH Sarabun New;	
}

#subMenu {
	margin-top: -10px;
	font-family:TH Sarabun New;
	font-size: 28px;
	color:#ffffff;
}

a:link {
    text-decoration: none;
    color: #862ae3;
}

a:link:hover {
    color: #862ae3;
    text-decoration: underline;
}

#inSearch {
	margin-top: -10px;
	font-family:TH Sarabun New;
	font-size: 25px;
	color:#862ae3;
	margin-left: 10px;
}

#add {
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
	height:900px;
	background-size: 100%;
	background: #862ae3;
	font-family:TH Sarabun New;
}

#inAdd {
	width: 100%;
	height: 50px;
	/*background: #000000;*/
	/*padding-top: 10px;*/
	padding-left: 10px;
	font-family:TH Sarabun New;
	font-size: 25px;
	color:#565656;
}

#topic {
	padding-left: 10px;
	padding-top: 10px;
	font-family:TH Sarabun New;
	font-size: 30px;
	color:#565656;
	font-weight:bold;
}

#picHover:hover{
	opacity: 0.4;
}

/*Dropdown tag open*/
/* Dropdown Button */
.dropbtn {
    background-color: #293352;
    color: white;
    padding: 10px;
    margin-top: -10px;
	font-family:TH Sarabun New;
	font-size: 28px;
	color:#ffffff;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /*position: relative;*/
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position:absolute; 
    z-index: 0.1;
    background-color: #f9f9f9;
    font-family:TH Sarabun New;
	font-size: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inherit;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    /*display: inherit;*/
}

.dropdown:hover .dropbtn {
    background-color: #2d3e74;
}
/*Dropdown tag close*/


#sMenu {
    background-color: #293352;
    color: white;
    /*padding: 10px;
    margin-top: -10px;*/
	font-family:TH Sarabun New;
	font-size: 28px;
	color:#ffffff;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
#sMenu {
    /*position: relative;*/
    display: inline-block;
}

#sMenu:hover{
    /*display: block;*/
    display: inherit;
    background-color: #2d3e74;
}

#report {
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
	height:900px;
	background-size: 100%;
	background: #862ae3;
	font-family:TH Sarabun New;
	font-size: 25px;
	color:#565656;
}


/*popup*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 50%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*popup*/